@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 36px;
}

.centerTop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    width: 50%;
    text-align: center;
}
.centerTop2 {
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 1rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

p {
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    text-align:center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 5px;
}

.links-container a {
    margin-top:1rem;
    display: block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

.links-container a:hover {
    color: #297fb8; /* Change the text color on hover */
}


.footerText p{
    color: #fff;
    font-size: 8px;
    
}

@media (max-width: 480px) {
    p {
        font-size: 14px;
    }
    h1{
        font-size: 30px;
    }
    .centerTop,
    .centerTop2 {
        width: 80%;
    }

    .links-container {
        flex-direction: column;
        align-items: center;
    }
}
